@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Antic Slab", serif;
  background-color: #fff;
  text-align: center;
}

#created_by {
  position: absolute;
  float: left;
  margin-top: -50px;
  font-size: 14px;
  font-weight: 600;
}

#title {
  font-size: 24px;
  margin-top: 40px;
}

#sketch {
  position: absolute;
}

#reset,
#clear,
#grey,
#rgb {
  font-family: "Antic Slab", serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 8.5px;
  margin-right: 8.5px;
  height: 45px;
  width: 100px;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
  outline: none;
}

#reset:hover,
#clear:hover,
#grey:hover,
#rgb:hover {
  background-color: #dddddd;
}

#buttons {
  margin: 0 auto;
}

#rgb {
  letter-spacing: -2.5px;
}

#grid {
  margin: auto;
  margin-top: 30px;
  display: table;
  border-collapse: collapse;
  border: 1px solid black;
  height: 550px;
  width: 550px;
}

#row {
  display: table-row;
  border-collapse: collapse;
}

#cell {
  display: table-cell;
  border-collapse: collapse;
}
